/*Type Selector Styling*/
h1{
    color: white;
}

/*ID Styling*/
#app-logo{
    height: 60px;
    width: 3rem;
    fill: url(#weatherGradient);
}

#toggle-btn{
    width: 60px;
    height: 35px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

#location-search{
    width: 100%;
    height: 35px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 3.5px solid var(--border-purple);
    padding: 15px;
    font-size: 1.25em;
    color: white;
    padding-left: 52px;
}

#search-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    fill: var(--lilac);
    opacity: 0.7;
    left: 10px;
    top: 3px;
}

#location-name-cont>h2{
    color: var(--clr-text-primary);
    font-weight: 300;
    font-size: 1.2em;
}

#loading {
    position: fixed;
    width: 200px;
    height: 200px;
    font-size: 4.5em;
    color: white;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Arial', sans-serif;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Class Styling*/
.flight-icon{
    width: 30px;
    height: 30px;
    fill: var(--border-purple);
}

.toggle-slider{
    border-radius: 50%;
    background-color: #ffffff70;
    width: 55%;
    height: 90%;
    position: relative;
    left: 0;
    transition: transform 0.25s ease;
}

.search-option{
    width: 100%;
    color: white;
    font-size: 1.1em;
    word-wrap: break-word;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
}

.weather-icon{
    width: 30px;
    height: 30px;
}

.big-text{
    font-size: 2rem;
    font-weight: 800;
}

.slightly-big-text{
    font-size: 1.5rem;
    font-weight: 600;
}

/*Extra Features Styling*/


/*Pseudo-Classes / Pseudo Elements Styling*/
input::placeholder{
    color: var(--lilac);
}

.search-option:hover{
    background-color: var(--dark-purple);
}


#location-search::-webkit-search-cancel-button{
    -webkit-appearance: none;
    cursor: pointer;
    background: url(../assets/x-mark-16.png);
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
}

.toggle-slider.fahrenheit{
    
    transform: translateX(80%);
}

/*Animations*/
@keyframes fillIn {
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    
    50%{
        background-color: linear-gradient(to top, var(--border-purple), var(--dark-purple));
    }
    
    100%{
        background-color: var(--border-purple);
    }
}

@keyframes fillUp {
    0% {
        background-size: 100% 0%;
    }
    100% {
        background-size: 100% 100%;
    }
}

#loading {
    background: linear-gradient(to top, var(--border-purple), var(--dark-purple));
    background-size: 100% 0%;
    background-repeat: no-repeat;
    animation: fillUp 1s infinite;
}

