/*Type Selector Styling*/


/*ID Styling*/
#navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 5%;
    /* background-color: red;*/
    align-items: center;
    padding: 5px 15px;
}

#toggle-cont{
    display: flex;
    color: white;
    gap: 5px;
    align-items: center;
}

#main-cont{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#search-options-cont{
    width: 100%;
    height: auto;
    max-height: 300px;
    border: 1.5px solid var(--border-purple);
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 38px;
    display: flex;
    flex-direction: column;
    border-top: none;
    font-weight: 300;
    overflow-y: scroll;
    background-color: rgb(68, 75, 149);
}

#location-name-cont{
    display: flex;
}

#main-weather-cont, #extra-info-cont{
    color: var(--clr-text-primary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#actual-temp-cont{
    display: flex;
    align-items: center;
    gap: 15px;
}

#main-temp-cont{
    grid-column: 1 / span 2;
}

#timeline-gallery-cont{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px 0;
    justify-content: center;
}

/*Class Styling*/
.search-cont{
    position: relative;
    display: inline-block;
    width: 100%;
}

.info-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weather-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-bg-card-light);
    border: 1px solid var(--border-purple);
    border-radius: 25px;
    padding: 10px;
    color: var(--clr-text-primary);
}

.extra-weather-info{
    display: flex;
    gap: 10px;
    text-align: left;
    background-color: var(--transparent);
    padding: 10px;
    color: var(--clr-text-primary);
}

.gallery-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid var(--border-purple);
    border-radius: 15px;
    background-color: var(--clr-bg-card-light);
    color: var(--clr-text-primary);
}

/*Extra Features Styling*/
#search-options-cont.invisible{
    display: none;
}

/*Pseudo-Classes / Pseudo Elements Styling*/
#search-options-cont::-webkit-scrollbar{
    background-color: var(--transparent);
    width: 20px;
}

#search-options-cont::-webkit-scrollbar-track{
    padding-right: 10px;
}

#search-options-cont::-webkit-scrollbar-thumb{
    background-color: var(--border-purple);
    border-radius: 15px;
    width: 10px;
}

#search-options-cont::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}

.weather-card p:not(.big-text){
    font-size: 1rem;
    font-weight: 200;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
    body{
        padding: 10px;
    }
}